.login {
  display: flex;

  &__inner {
    display: flex;
    width: calc(100% - 580px);
    padding: 175px 0 75px;
    position: relative;
  }
}




@media (max-width: 1240px) {
  .login {
    &__inner {
      width: calc(100% - 480px);
    }
  }
}
