.login {
  display: flex;
  padding-left: calc((100% - 1470px) / 2);

  // &__wrap {}

  &__inner {
    flex-shrink: 0;
    width: calc(100% - 580px);
    min-width: 480px;
    padding: 170px 15px 75px 15px;
  }

}



@media (max-width: 1240px) {
  .login {
    &__inner {
      width: calc(100% - 480px);
    }
  }
}
