.registration-modal {
  &__container {
    max-width: 530px;
    min-height: 250px;
    padding: 100px 75px 35px 75px;
    background-color: $white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      background-image: url('../../img//ok.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  &__title {
    margin-bottom: 35px;
    text-align: center;
  }

  &__btn {
    position: static;
    background-image: none;
    width: auto;
    height: auto;
  }
}
