.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  width: calc(100% - 580px);
  padding: 175px 0 75px;
  position: relative;

  &__content {
    display: none;
    flex-direction: column;
    align-items: center;
    color: $black;
    width: 100%;
    padding: 0 15px;

    &.active {
      display: flex;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    padding: 20px 50px 20px 130px;
    max-width: 367px;
    border: 1px solid $silver-text;
    border-radius: 4px;
    margin-bottom: 20px;
    max-height: 102px;
    min-height: 102px;
    cursor: pointer;
    transition: border .2s ease-in-out;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: $blue;
    }

    &:hover .registration__tab-title {
      color: $blue;
    }

    &:hover {
      svg {
        path {
          fill: $blue
        }
      }
    }
  }

  &__tab-title {
    transition: color .2s ease-in-out;
  }

  &__tab-icon {
    left: 55px;
    position: absolute;

    svg {
      path {
        transition: all .2s ease-in-out;
      }
    }

    &--last {
      left: 40px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
    color: $blue;

    &--center {
      text-align: center;
    }
  }

  &__progress-list {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    min-height: 15px;
  }

  &__progress-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $gray;
    margin-right: 10px;
    transition: all .2s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &.passed {
      background-color: $green;
    }

    &.active {
      width: 14px;
      height: 14px;
      background-color: $green;
    }
  }

  &__counterparty {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
  }

  &__headline {
    margin-bottom: 24px;
    text-align: center;

    a {
      color: $blue;
    }

    &--margin-top {
      margin-top: 32px;
    }
  }

  &__steps {
    max-width: 440px;
    width: 100%;
    position: relative;
  }

  &__step {
    display: none;

    &.active {
      display: block;
    }
  }

  &__buttons {
    max-width: 368px;
    margin: 12px auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__error {
    display: none;
    color: $red;
    text-align: center;
    padding: 32px 22px;
    background: #FFF8F8;
    border-radius: 4px;
    max-width: 200px;
    position: fixed;

    bottom: 30px;
    right: 10%;

    &.is-open {
      display: block;
    }
  }

  &__error-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 12px;
    height: 12px;
    background-image: url('../../img/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__error-title {
    font-weight: 500;
  }

  &__error-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  &__error-message {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
}

.log-out {
  font-weight: 500;
  color: $black;
  text-decoration: none;
  position: absolute;
  top: 86px;
  right: 74px;
}





@media (max-width: 1240px) {
  .registration {
    width: calc(100% - 480px);
  }
}
