<div class="lk__tabs-content tabs__content active" data-tabs-target="all-services">
  <div class="services">
    <h5 class="services__caption">У Вас нет подключенных услуг.</h5>
    <h5 class="services__caption">Вы можете подключить:</h5>

    <div class="services__items">
      <div class="services__item services__item--place">
        <div class="services__icon services__icon--place"></div>
        <div class="services__info">
          <h5 class="services__headline">Аренда места</h5>
          <button class="services__btn services__btn--place">Подключить</button>
        </div>
      </div>
      <div class="services__item services__item--rack">
        <div class="services__icon services__icon--rack"></div>
        <div class="services__info">
          <h5 class="services__headline">Аренда стойки</h5>
          <button class="services__btn services__btn--rack">Подключить</button>
        </div>
      </div>
      <div class="services__item services__item--server">
        <div class="services__icon services__icon--server"></div>
        <div class="services__info">
          <h5 class="services__headline">Аренда сервера</h5>
          <button class="services__btn services__btn--server">Подключить</button>
        </div>
      </div>
    </div>

    <div class="services__blocks">
      @include('rent-place-block.html')
      @include('rent-place-block.html')
    </div>


  </div>
</div>
