<aside class="aside">
  <a href="#" class="aside__logo">
    <img src="img/logo.svg" alt="Логотип" />
  </a>
  <h3 class="aside__title">возможности личного кабинета</h3>
  <ul class="aside__list">
    <li class="aside__item">
      <div class="aside__icon aside__icon--one"> </div>
      <div class="aside__info">
        <h4 class="aside__caption">Lorem ipsum dolor </h4>
        <p class="aside__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut
          labore et dolore eiusmod tem eiusmod
        </p>
      </div>
    </li>
    <li class="aside__item">
      <div class="aside__icon aside__icon--two"> </div>
      <div class="aside__info">
        <h4 class="aside__caption">Lorem ipsum dolor </h4>
        <p class="aside__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut
          labore et dolore eiusmod tem eiusmod
        </p>
      </div>
    </li>
    <li class="aside__item">
      <div class="aside__icon aside__icon--three"> </div>
      <div class="aside__info">
        <h4 class="aside__caption">Lorem ipsum dolor </h4>
        <p class="aside__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut
          labore et dolore eiusmod tem eiusmod
        </p>
      </div>
    </li>
    <li class="aside__item">
      <div class="aside__icon aside__icon--for"> </div>
      <div class="aside__info">
        <h4 class="aside__caption">Lorem ipsum dolor </h4>
        <p class="aside__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut
          labore et dolore eiusmod tem eiusmod
        </p>
      </div>
    </li>
    <ul />
</aside>
