<div class="calendar">
  <div class="calendar__top">
    <div class="calendar__box">
      <h6 class="calendar__mounth">Март</h6>
      <h6 class="calendar__year"> 2022</h6>
    </div>
    <div class="calendar__box">
      <button class="calendar__btn calendar__btn--prev"></button>
      <button class="calendar__btn calendar__btn--next"></button>
    </div>
  </div>
  <div class="calendar__inner">
    <div class="calendar__week">
      <div class="calendar__week-day">Пн</div>
      <div class="calendar__week-day">Вт</div>
      <div class="calendar__week-day">Ср</div>
      <div class="calendar__week-day">Чт</div>
      <div class="calendar__week-day">Пт</div>
      <div class="calendar__week-day">Сб</div>
      <div class="calendar__week-day">Вс</div>
    </div>
    <div class="calendar__days">
      <div class="calendar__day">1</div>
    </div>
  </div>
</div>
