<div class="confidant-table">
  <div class="confidant-table__captions">
    <h6 class="confidant-table__caption">ФИО</h6>
    <h6 class="confidant-table__caption">Серия и номер паспорта</h6>
    <h6 class="confidant-table__caption">Телефон</h6>
  </div>
  <div class="confidant-table__row">
    <div class="confidant-table__column">Иванов Иван Иванович</div>
    <div class="confidant-table__column">2230 495839</div>
    <div class="confidant-table__column phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu">
      <div class="confidant-table__menu-item">Изменить</div>
      <div class="confidant-table__menu-item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row">
    <div class="confidant-table__column">Иванов Иван Иванович</div>
    <div class="confidant-table__column">2230 495839</div>
    <div class="confidant-table__column phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu">
      <div class="confidant-table__menu-item">Изменить</div>
      <div class="confidant-table__menu-item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row">
    <div class="confidant-table__column">Иванов Иван Иванович</div>
    <div class="confidant-table__column">2230 495839</div>
    <div class="confidant-table__column phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu">
      <div class="confidant-table__menu-item">Изменить</div>
      <div class="confidant-table__menu-item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row">
    <div class="confidant-table__column">Иванов Иван Иванович</div>
    <div class="confidant-table__column">2230 495839</div>
    <div class="confidant-table__column phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu">
      <div class="confidant-table__menu-item">Изменить</div>
      <div class="confidant-table__menu-item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row">
    <div class="confidant-table__column">Иванов Иван Иванович</div>
    <div class="confidant-table__column">2230 495839</div>
    <div class="confidant-table__column phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu">
      <div class="confidant-table__menu-item">Изменить</div>
      <div class="confidant-table__menu-item">Удалить</div>
    </div>
  </div>
</div>
