<div class="equip-table">
  <div class="equip-table__captions">
    <h6 class="equip-table__caption">Серийный номер</h6>
    <h6 class="equip-table__caption">Наименование оборудования</h6>
    <h6 class="equip-table__caption">Комментарий</h6>
  </div>
  <div class="equip-table__row">
    <div class="equip-table__column">3059340</div>
    <div class="equip-table__column">Наименование оборудования</div>
    <div class="equip-table__column comment">Редактировать</div>
  </div>
  <div class="equip-table__row">
    <div class="equip-table__column">3059340</div>
    <div class="equip-table__column">Наименование оборудования</div>
    <div class="equip-table__column comment">Редактировать</div>
  </div>
  <div class="equip-table__row">
    <div class="equip-table__column">3059340</div>
    <div class="equip-table__column">Наименование оборудования</div>
    <div class="equip-table__column comment">Редактировать</div>
  </div>
  <div class="equip-table__row">
    <div class="equip-table__column">3059340</div>
    <div class="equip-table__column">Наименование оборудования</div>
    <div class="equip-table__column comment">Редактировать</div>
  </div>
  <div class="equip-table__row">
    <div class="equip-table__column">3059340</div>
    <div class="equip-table__column">Наименование оборудования</div>
    <div class="equip-table__column comment">Редактировать</div>
  </div>
  <div class="equip-table__row">
    <div class="equip-table__column">3059340</div>
    <div class="equip-table__column">Наименование оборудования</div>
    <div class="equip-table__column comment">Редактировать</div>
  </div>
</div>
