<nav class="nav">

  <div class="user">
    <span class="user__name">N3245wexc</span>
    <span class="user__address">Филиал ФГУП НПО Микр</span>
  </div>

  <h3 class="nav__title">Личный кабинет</h3>

  <ul class="nav__list">
    <li class="nav__item">
      <a href="#" class="nav__link">Услуги</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Платежи</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Уведомления</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Техподдержка</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Документы</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Профиль</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">FAQ</a>
    </li>
  </ul>
  <ul class="nav__support-list">
    <h5 class="nav__support-title">Техподдержка</h5>
    <li class="nav__support-item">
      <h6 class="nav__support-caption">Skype</h6>
      <a href="#" class="nav__support-link">Komplex-Host</a>
    </li>
    <li class="nav__support-item">
      <h6 class="nav__support-caption">Телефон</h6>
      <a href="#" class="nav__support-link">+7 (831) 223-99-66</a>
    </li>
    <li class="nav__support-item">
      <h6 class="nav__support-caption">WhatsApp/Viber</h6>
      <a href="#" class="nav__support-link">+7 (905) 194-27-76</a>
    </li>
    <li class="nav__support-item">
      <h6 class="nav__support-caption">Почта</h6>
      <a href="#" class="nav__support-link">support@komplex-host.ru</a>
    </li>
  </ul>
  <div class="nav__copyright">
    2006 - 2022 «Комплекс-Хост».
    Все права защищены.
    <a href="#"> Политика конфиденциальности</a>
    <a href="#"> Политика в отношении обработки персональных данных</a>
  </div>
</nav>
