<div class="rent-table">
  <div class="rent-table__captions">
    <h6 class="rent-table__caption">Наименование услуги</h6>
    <h6 class="rent-table__caption">Цена</h6>
    <h6 class="rent-table__caption">Кол-во</h6>
    <h6 class="rent-table__caption">Сумма</h6>
  </div>
  <div class="rent-table__row">
    <div class="rent-table__column service-name">Аренда места,<span>Unit</span></div>
    <div class="rent-table__column service-price">1500₽</div>
    <div class="rent-table__column service-amount">2</div>
    <div class="rent-table__column service-sum">3000₽</div>
  </div>
  <div class="rent-table__row">
    <div class="rent-table__column service-name">Электропитание,<span>Watt</span></div>
    <div class="rent-table__column service-price">150₽</div>
    <div class="rent-table__column service-amount">200</div>
    <div class="rent-table__column service-sum">150₽</div>
  </div>
  <div class="rent-table__row">
    <div class="rent-table__column service-name">Порт коммутатора</div>
    <div class="rent-table__column service-price">150₽</div>
    <div class="rent-table__column service-amount">1</div>
    <div class="rent-table__column service-sum">150₽</div>
  </div>
</div>
