<div class="lk-block">
  <span class="lk-block__error">Услуга заблокирована</span>
  <div class="lk-block__disabled">
    <div class="lk-block__top">
      <h4 class="lk-block__caption">Аренда места</h4>
      <span class="lk-block__number">253/893.156</span>
      <a href="#" class="lk-block__link">?</a>
    </div>
    @include('rent-table.html')
    <div class="lk-block__bot">
      <div class="lk-block__data">
        <span class="lk-block__data-caption">Дата подключения:</span>
        <strong class="lk-block__data-num">21.05.2017</strong>
      </div>
      <div class="lk-block__price">
        <span class="lk-block__price-caption">Итого:</span>
        <strong class="lk-block__price-sum">3 300 ₽</strong>
      </div>
    </div>
    <a href="#" class="lk-block__more button light">Подробнее</a>
  </div>
</div>
