<div class="lk-block rent-server">
  <div class="rent-server__row">
    <div class="rent-server__icon"></div>

    <div class="lk-block__top rent-server__top">
      <div class="rent-server__sb">
        <div class="lk-block__box">
          <h4 class="lk-block__caption">@caption</h4>
          <span class="lk-block__number">253/893.156</span>
          <a href="#" class="lk-block__link">?</a>
        </div>
        <button class="lk-block__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="context-menu">
          <div class="context-menu__item">Изменить</div>
          <div class="context-menu__item">Удалить</div>
        </div>
      </div>
      <button class="rent-server__btn button blue">Консоль управления</button>
    </div>


  </div>

  <div class="rent-server__specification">
    <div class="rent-server__specification-item">
      <h6 class="rent-server__specification-caption">CPU</h6>
      <h4 class="rent-server__specification-name">Intel Xeon E3-1220</h4>
    </div>
    <div class="rent-server__specification-item">
      <h6 class="rent-server__specification-caption">RAM</h6>
      <h4 class="rent-server__specification-name">16 GB</h4>
    </div>
    <div class="rent-server__specification-item">
      <h6 class="rent-server__specification-caption">HDD</h6>
      <h4 class="rent-server__specification-name">2 x 1000 GB</h4>
    </div>
    <div class="rent-server__specification-item">
      <h6 class="rent-server__specification-caption">IPMI</h6>
      <h4 class="rent-server__specification-name">Да</h4>
    </div>
    <div class="rent-server__specification-item speed">
      <h6 class="rent-server__specification-caption">Скорость</h6>
      <h4 class="rent-server__specification-name">100 MB/C</h4>
    </div>
  </div>
  <div class="rent-server__inner">
    @include('../tables/ip-table.html')
    <div class="rent-server__col">
      <div class="rent-server__specification-item ip">
        <h6 class="rent-server__specification-caption ">Количество IP-адресов</h6>
        <h4 class="rent-server__specification-name">4</h4>
      </div>
    </div>
  </div>
  <div class="lk-block__bot">
    <div class="lk-block__data">
      <span class="lk-block__data-caption">Дата подключения:</span>
      <strong class="lk-block__data-num">21.05.2017</strong>
    </div>
    <div class="lk-block__price">
      <span class="lk-block__price-caption">Итого:</span>
      <strong class="lk-block__price-sum">3 300 ₽</strong>
    </div>
  </div>

</div>
