<div class="confidant-table table">
  <div class="confidant-table__captions table__captions">
    <h6 class="confidant-table__caption table__caption">ФИО</h6>
    <h6 class="confidant-table__caption table__caption">Серия и номер паспорта</h6>
    <h6 class="confidant-table__caption table__caption">Телефон</h6>
  </div>
  <div class="confidant-table__row table__row">
    <div class="confidant-table__column table__col">Иванов Иван Иванович</div>
    <div class="confidant-table__column table__col">2230 495839</div>
    <div class="confidant-table__column table__col phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu context-menu">
      <div class="confidant-table__menu-item context-menu__item">Изменить</div>
      <div class="confidant-table__menu-item context-menu__item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row table__row">
    <div class="confidant-table__column table__col">Иванов Иван Иванович</div>
    <div class="confidant-table__column table__col">2230 495839</div>
    <div class="confidant-table__column table__col phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu context-menu">
      <div class="confidant-table__menu-item context-menu__item">Изменить</div>
      <div class="confidant-table__menu-item context-menu__item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row table__row">
    <div class="confidant-table__column table__col">Иванов Иван Иванович</div>
    <div class="confidant-table__column table__col">2230 495839</div>
    <div class="confidant-table__column table__col phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu context-menu">
      <div class="confidant-table__menu-item context-menu__item">Изменить</div>
      <div class="confidant-table__menu-item context-menu__item">Удалить</div>
    </div>
  </div>
  <div class="confidant-table__row table__row">
    <div class="confidant-table__column table__col">Иванов Иван Иванович</div>
    <div class="confidant-table__column table__col">2230 495839</div>
    <div class="confidant-table__column table__col phone">+7 (953) 335-34-43</div>
    <button class="confidant-table__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="confidant-table__menu context-menu">
      <div class="confidant-table__menu-item context-menu__item">Изменить</div>
      <div class="confidant-table__menu-item context-menu__item">Удалить</div>
    </div>
  </div>
</div>
