<div class="equip-table table">
  <div class="equip-table__captions table__captions">
    <h6 class="equip-table__caption table__caption">Серийный номер</h6>
    <h6 class="equip-table__caption table__caption">Наименование оборудования</h6>
    <h6 class="equip-table__caption table__caption">Комментарий</h6>
  </div>
  <div class="equip-table__row table__row">
    <div class="equip-table__column table__col">3059340</div>
    <div class="equip-table__column table__col">Наименование оборудования</div>
    <div class="equip-table__column table__col comment">Редактировать</div>
  </div>
  <div class="equip-table__row table__row">
    <div class="equip-table__column table__col">3059340</div>
    <div class="equip-table__column table__col">Наименование оборудования</div>
    <div class="equip-table__column table__col comment">Редактировать</div>
  </div>
  <div class="equip-table__row table__row">
    <div class="equip-table__column table__col">3059340</div>
    <div class="equip-table__column table__col">Наименование оборудования</div>
    <div class="equip-table__column table__col comment">Редактировать</div>
  </div>
  <div class="equip-table__row table__row">
    <div class="equip-table__column table__col">3059340</div>
    <div class="equip-table__column table__col">Наименование оборудования</div>
    <div class="equip-table__column table__col comment">Редактировать</div>
  </div>
</div>
