<div class="ip-table table">
  <div class="ip-table__captions table__captions">
    <h6 class="ip-table__caption table__caption">IP-адрес</h6>
    <h6 class="ip-table__caption table__caption">Маска</h6>
    <h6 class="ip-table__caption table__caption">Шлюз</h6>
  </div>
  <div class="ip-table__row table__row">
    <div class="ip-table__column table__col">192.168.5.0/29</div>
    <div class="ip-table__column table__col">255.255.255.248</div>
    <div class="ip-table__column table__col">192.168.5.200</div>
  </div>
</div>
